.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.appBar {
  height: 64px;
  display: flex;
  user-select: none;
}

.headerTitle {
  font-family: Dosis;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.75px;
  letter-spacing: 0.25px;
  text-align: left;
  margin: auto 0;
  margin-left: 16px;
}
