.characterCount {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.headerBar {
  display: flex;
  font-family: Dosis;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  margin-bottom: 2rem;
  border-bottom: 0.5px solid #d5dfe9;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paper {
  height: 768px;
  width: 560px;
}
