.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #d5dfe9;
}

.text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 1rem;
}
